.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.inputLetter {
  width: 40px;
  height: 50px;
  text-align: center;
  color: white;
  appearance: none;
  border: none;
  border-bottom: 3px solid black;
  background-color: #666;
  font-size: 1.5rem;
}

.correct {
  border-bottom: 3px solid green;
}
.incorrect {
  border-bottom: 3px solid red;
}
.inputLetter:disabled {
  cursor: not-allowed;
  background-color: #555;
  border-bottom: 3px solid green;
}
.inputLetter:focus {
  outline: none;
}
.answer {
  text-align: center;
  font-weight: 400;
}
